.titulo {
    font-size: 70px;

}

.resumen {
    font-size: 24px;
}

.titulo2 {
    font-size: 35px; 
    
}

.guitarra1 {
    font-size: 50px;
}

.guitarra2{
    font-size: 50px;
}

.portada{
    background-image: url('../images/background.png');
    color: whitesmoke;
}

.guitarras{
    color: #1F313C;
}

.menu{
    font-size: 24px;
}


    
