/* tipo de selector {
   propiedad valor: burlywood;
} */

/* selector universal */
*{
    border: 1px solid  rgb(158, 113, 55);
    margin: 10px;
}
/* selector de etiqueta */
header {
    background: blanchedalmond;
    color: chocolate;
    border: 3px solid springgreen;
}

section {
    background: rgb(48, 163, 163);
}

/* selector descendente */

article h3 {
    color: blueviolet;
}

section h2 {
    color: crimson;
    
}
/* selectores de clase */

.title-a {
   background: cornflowerblue; 
   color: darkblue;
}

.title-b {
    background: chocolate;
}

#guitarras {
    background: darkgoldenrod;
    border: 3px cornsilk;
    color: cadetblue
}

#portada h1 {
    color: skyblue;
    border: 2px solid sienna;
}

